PMHUB_API_PORT=7081
PMHUB_FRONTEND_PATH=D:/PMHUB-FRONT2/pmhub-frontend
PMHUB_FRONTEND_PORT=4200
ASPNETCORE_ENVIRONMENT=Production
PMHUB_CONNECTION_STRING=Data Source=MAN96NBO1171Q5Y\SQLEXPRESS;Database=PMHubDB-test;Integrated Security=True;Persist Security Info=False;Pooling=False;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=True;Application Name=PMHubAPI;Command Timeout=30
