# .NET
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/
*.user
*.userosscache
*.sln.doccache

# Visual Studio
.vs/
.idea/
*.suo
*.user
*.userosscache
*.sln.doccache
*.cache

# Web
wwwroot/uploads/*
!wwwroot/uploads/.gitkeep

# Secrets & Config
appsettings.json
appsettings.*.json
!appsettings.Example.json

# OS
.DS_Store
Thumbs.db